*{
    margin: 0; 
    padding: 0;  
}  

body{
    background-color: hsl(30, 38%, 92%);
}

main{
    display: flex;
    justify-content: center; 
    align-items: center; 
    /* background-color: white;  */
    max-width: 48em; 
    margin-top: 5em; 
    margin-left: 20em;
} 

.image{
    /* background-color: orange;  */
    display: flex; 
    float: left; 
}

.perfume{
    max-width: 23rem;  
} 

.container{
    padding: 20px; 
    background-color: #fff; 
    padding-top: 9rem; 
    padding-bottom: 9em;
} 

h3,p{
    font-family: 'Montserrat', sans-serif; 
    font-size: 120%; 
    padding: 2px;
}  

h2, h1{
    font-family: 'Fraunces', serif;  
    font-size: 170%; 
    padding: 2%;
} 

del{
    font-family: 'Fraunces', serif; 
    font-size: 120%;
} 

button{
    
}