*{
    margin: 0; 
    padding: 0;  
}  

body{
    background-color: hsl(30, 38%, 92%);  
    min-height: 100dvh;
}

main{ 
    display: flex;
    justify-content: center; 
    align-items: center; 
    /* background-color: white;  */
    /* max-width: 48em;  */
    margin-top: 5em; 
    max-width: 300em; 
    flex-direction: column;  
    overflow: hidden;
} 

.image{
    /* background-color: orange;  */
    display: flex; 

}

.perfume{
    max-width: 34rem; 
    display: block; 
    object-fit: cover; 
    border-top-left-radius: 2em; 
    border-top-right-radius: 2em;
} 

.container{ 
    padding:7em; 
    background-color: #fff;   
    padding-bottom: 2em;
    width: 20em;  
    border-bottom-left-radius: 2em; 
    border-bottom-right-radius: 2em;
} 

p{
    font-family: 'Montserrat', sans-serif; 
    font-size: 120%; 
    padding: 3px; 
    color: hsl(228, 12%, 48%);
}  

h2, h1{
    font-family: 'Fraunces', serif;  
    font-size: 170%; 
    padding: 3%;
} 

del{
    font-family: 'Fraunces', serif; 
    font-size: 120%;
}

h1{
    font-size: 3em; 
    color: hsl(212, 21%, 14%);
} 

h2{
    color: hsl(158, 36%, 37%); 
}

button{
    background-color: hsl(158, 36%, 37%); 
    border: none; 
    width: 11em; 
    height: 2em;
    border-radius: 15px; 
    color: #fff; 
    font-size: 2em;
}  

button:hover{
    cursor: pointer; 
    background-color: hsl(212, 21%, 14%);
}

.price{
    text-align: center;  
    display: flex;  
    align-items: center;
} 

.cart{
    width: 20px; 
} 

footer{
    padding: 20px;
}